body, html{
    overflow: hidden;
    height: 100vh;
}

.wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.progress_bar {
    position: relative;
    background: #242424;
    overflow: hidden;
}

.load {
    position: absolute;
    background: #FFF;
}

h2, .progress_bar{
    animation: inicializar 1s ease-out;
}


@media screen and (max-width: 575px) {
    .container {
        width: 60%;
        gap: 15px;
    }
    
    .progress_bar {
        width: 100%;
        height: 7px;
        border-radius: 7px;
    }
    
    .load {
        height: 6px;
    }

    h2 {
        font-size: 24px;
    }
}


@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 60%;
        gap: 12px;
    }
    
    .progress_bar {
        width: 80%;
        height: 7px;
        border-radius: 7px;
    }
    
    .load {
        height: 7px;
    }

    h2{
        font-size: 24px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 50%;
        gap: 15px;
    }
    
    .progress_bar {
        width: 90%;
        height: 8px;
        border-radius: 8px;
    }
    
    .load {
        height: 8px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {    
    .container {
        width: 50%;
        gap: 18px;
    }
    
    .progress_bar {
        width: 80%;
        height: 7px;
        border-radius: 7px;
    }
    
    .load {
        height: 7px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .container {
        width: 50%;
        gap: 15px;
    }
    
    .progress_bar {
        width: 90%;
        height: 7px;
        border-radius: 7px;
    }
    
    .load {
        height: 7px;
    }

    h2 {
        font-size: 38px;
    }
}


@keyframes inicializar {
    from {
        opacity: 0;
        transform: scale(1.15);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}